* {
  margin: 0;
  padding: 0;
}
body {
    background-image: url("/portfolio/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a {
    text-decoration: none;
}

nav {
    background-color: #0b2900ff;
    padding: 0.938rem 0;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.logo {
    display: flex;
}

.logo .highlight {
    color: #c8f2b1;
    margin-left: 0.313rem;
}

nav li {
    margin: 0 0.625rem;
}

nav a {
    color: #f7f7f7bb;
    font-weight: bold;
    font-size: 1.125rem;
}

.section {
    width: 85vw;
    height: 60vh;
    background: #081b07bb;
    text-align: center;
    padding: 1.25rem;
    margin: 4.375rem;
}

.section h1, h2 {
    font-size: 2.25rem;
    color: #f7f7f799;
}

.section p, li {
    font-size: 1.125rem;
    color: #e4e4e4bb;
}

.welcome {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about p {
    text-align: start;
    width: 45%;
    padding: 1.25rem;
}

.about img {
    width: 45%;
    height: 90%;
    object-fit: cover;
    object-position: left top;
    padding: 1.25rem;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resume div {
    flex-basis: 20.625rem;
    background-color: #0b2900ff;
    padding: 1.2rem;
}

.resume li {
    text-align: start;
    list-style: none;
    padding: 1.2rem 0 0 0;
}

.resume p {
    text-align: start;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85vw;
    height: 80vh;
    background: #081b07bb;
    text-align: center;
    padding: 1.25rem;
    margin: 4.375rem;
}

.works div {
    flex-basis: 20.625rem;
    background-color: #0b2900ff;
    padding: 1.2rem;
}

.works img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85vw;
    height: 60vh;
    background: #081b07bb;
    text-align: center;
    padding: 1.25rem;
    margin: 4.375rem;
}

.gallery div {
    flex-basis: 20.625rem;
    background-color: #0b2900ff;
    padding: 1.2rem;
}

.gallery img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.contact div{
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    justify-content: center;
}

.contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    height: 1.875rem;
    background-color: #081b07ff;
    margin: 1.2rem;
}